body {
  background-color: darkslategray;
}
.sort-items {
  padding : 14px;
  background-color: cadetblue;
  color: #fff;
  width: 150px;
}
.dropdown {
  position: absolute;
  right: 0;
  top: 0;
}
.dropdown-menu {
  border: 1px solid black;
}
.open>ul {
  display: block;
}
